<!--<h1>当サイトの思い</h1>-->
<!--<h1>会員Aboutページ</h1>-->
<!--<p>Find me in app/views/customers/homes/about.html.erb</p>-->

  <div class="container">
      <div class="row">
          
          <div class='mx-auto col-11 col-sm-10'>
              
              <h1>当サイトの思い</h1>
              <h5>
              保護猫とは、名前の通り「保護された猫」のことです。
              多頭飼育崩壊や前飼い主の飼育放棄など様々な事情で保護された猫ちゃんたちを「保護猫」と呼ばれています。
              </h5>
              <h5>
              そんな保護猫ちゃんたちが毎年、数千匹殺処分されていることを知っていますか？
              </h5>
              <h5>
              当サイトでは、猫ちゃんの殺処分ゼロを目指し、あなたと保護猫をつなぐ役割を持っています。
              「猫ちゃんを家族に迎え入れたい」「保護猫を支援したいけど、どうすればいいのかわからない」
              「うちはペット禁止だけど、殺処分されてしまう猫ちゃんを救いたい」という方にオススメです。
              </h5>
              <h5>
              また、「うちの猫が脱走してしまった」という時にも当サイトの「迷い猫情報」の共有をぜひご活用してみてください(情報を提供するには会員登録が必要です)。
              </h5>
              
              <div class='center-block'>
                <%= image_tag 'DSC_0018.jpg', width: '70%', height: '70%' %>
              </div>
              
          </div>
          
      </div>
  </div>
