<table class='table'>
    
    <tr>
      <%= image_tag customer.get_profile_image, size:'100x100' %>
    </tr>
    
    <tr>
      <th>
        <!--current_customer以外の名前も表示する！-->
        <%= customer.customer_name %>
      </th>
    </tr>
    
    <tr>
      <th>
        <%= customer.status_message %>
      </th>
    </tr>
    
    <tr>
      <!--フォロー数-->
    </tr>
    
    <tr>
        <!--フォロワー数-->
    </tr>
    
</table>


<div class='row'>
    <% if @customer == current_customer %>
      <%= link_to edit_customer_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
        プロフィールを編集する
      <% end %>
    <% end %>
</div>


<div class= 'row'>
  <!--<%# unless current_customer == customer %>-->
  <!--  <%# if current_customer.following?(customer) %>-->
  <!--    <%#= link_to "フォロー外す", customer_relationships_path(customer.id), class: "btn btn-secondary", method: :delete %>-->
  <!--  <%# else %>-->
  <!--    <%#= link_to "フォローする", customer_relationships_path(customer.id), class: "btn btn-primary", method: :post %>-->
  <!--  <%# end %>-->
  <!--<%# end %>-->
</div>
