<div class='container'>
    <div class='row'>
        <h1 class="px-3 mx-auto">いいニャ！した保護猫カフェ投稿一覧</h1>
          <table class='table table-hover table-inverse'>
                <thead>
                  <tr>
                    <th></th>
                    <th>会員名</th>
                    <th>店名/最寄り駅</th>
                    <th>タイトル</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
            <%= render partial: "customer/cat_coffee_shops/cat_coffee_shop", collection: @favorite_cat_coffee_shops %>
          </table>
    </div>
</div>