  <footer>
      <div class='container mt-5'>
          <div class='row fixed-bottom'>
            <div class="mx-auto">
                  <p>Copyright©cat_projects</p>
            </div>
          </div>
      </div>
  </footer>